{% extends 'base.html.twig' %}
{% block title %}
    Hello HomeController!
{% endblock %}
{% block body %}
    <header class="hero hidden">
        <div class="hero__left hidden">
            <h1 class="hero__title hidden">
                The Best Free Online Courses of All Time
            </h1>
            <p class="hero__subtitle hidden">
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum fugiat nulla pariatur
            </p>
            <a href="{{ path('app_course_index')}}" class="hero__cta-button hidden">
                Explore Courses
            </a>
        </div>
        <img src="https://cdn.pixabay.com/photo/2017/04/07/17/18/eyeglasses-2211445_1280.jpg" alt="" class="hero__right hidden">
    </header>


    {% include 'Frontend/partials/_stats-section.html.twig' %}


    <section class="courses-section">
        <div class="courses-section__header">
            <h2 class="courses-section__title">
                Highest Rated Online Courses
            </h2>
            <p class="courses-section__description">
                Dignissim enim sit amet venenatis urna cursus eget nunc. Egestas sed sed risus pretium quam vulputate.
            </p>
        </div>

        {% include 'Frontend/partials/_filtre.html.twig' %}

        <div class="section__card">
            {% include 'Frontend/partials/_card.html.twig' %}
            {% include 'Frontend/partials/_card.html.twig' %}
            {% include 'Frontend/partials/_card.html.twig' %}
        </div>
    </section>
{% endblock %}
