{% extends 'base.html.twig' %}
{% block title %}
    Edit InfoUser
{% endblock %}
{% block body %}
    <h1>
        Edit InfoUser
    </h1>
    {{ include('Frontend/info_user/_form.html.twig', {'button_label': 'Update'}) }}
    <a href="{{ path('app_info_user_index') }}">
        back to list
    </a>
    {{ include('Frontend/info_user/_delete_form.html.twig') }}
{% endblock %}
