{% extends 'base.html.twig' %}
{% block title %}
    New InfoUser
{% endblock %}
{% block body %}
    <h1>
        Create new InfoUser
    </h1>
    {{ include('Frontend/info_user/_form.html.twig') }}
    <a href="{{ path('app_info_user_index') }}">
        back to list
    </a>
{% endblock %}
