{% block card %}
    <div class="card">
        <div class="card__image">
            <img src="https://cdn.pixabay.com/photo/2017/04/07/17/18/eyeglasses-2211445_1280.jpg" alt="Photography Masterclass">
        </div>
        <div class="card__content">
            <div class="card__category">
                <span class="card__category-label">
                    Photography
                </span>
                                <span class="card__price-amount">
                    Free
                </span>
            </div>
            <div class="card__info">
                <span class="card__level">
                    Beginner
                </span>
                <span class="card__hours">
                    120 Hours
                </span>
                <span class="card__rating">
                    3.5 (3k reviews)
                </span>
            </div>
            <h3 class="card__title">
                Photography Masterclass: A Complete Guide to Photography
            </h3>
            <a href="#" class="card__link">
                View Course
                <span class="card__link-icon">
                    →
                </span>
            </a>
        </div>
    </div>
{% endblock %}
