<div class="courses__filters">
    <button class="courses__filter courses__filter--active" data-category="all">All Categories</button>

    {% for category in categories %}
        <button class="courses__filter" data-cetegory="{{ category.id }}">{{ category.name }}</button>
    {% endfor %}
</div>
