    <div class="courses__filters">
        <button class="courses__filter courses__filter--active">All Categories</button>
        <button class="courses__filter">HR</button>
        <button class="courses__filter">Photography</button>
        <button class="courses__filter">Programming</button>
        <button class="courses__filter">Marketing</button>
        <button class="courses__filter">Design</button>
    </div>