{% block stats %}
    <section class="stats-section hidden">
        <div class="stats-section__card">
            <div class="stats-section__item">
                <h2 class="stats-section__number" data-target="500">
                    0
                </h2>
                <p class="stats-section__description">
                    Hours of hands-on learning in our courses
                </p>
            </div>
            <div class="stats-section__item">
                <h2 class="stats-section__number" data-target="1500">
                    0
                </h2>
                <p class="stats-section__description">
                    Students Passed Our Competitions and Got a Job
                </p>
            </div>
            <div class="stats-section__item">
                <h2 class="stats-section__number" data-target="25">
                    0
                </h2>
                <p class="stats-section__description">
                    The Ratio of Theory and Practice in Each Course
                </p>
            </div>
            <div class="stats-section__item">
                <h2 class="stats-section__number" data-target="40">
                    0
                </h2>
                <p class="stats-section__description">
                    We teach people from 4 continents and over 40 countries
                </p>
            </div>
        </div>
    </section>

{% endblock %}
