// Colors
$primary-blue: #4A90E2;
$primary-dark-blue: #003366;
$primary-orange: #FFA500;
$primary-white: #FFFFFF;
$primary-dark: #000000;

// Secondary colors
$secondary-red: #FF4C4C;
$secondary-green: #4CAF50;
$secondary-yellow: #F7FF62;
$secondary-light-grey: #F2F2F2;