{% extends 'base.html.twig' %}
{% block title %}
    {{ course.title }} - Learn
{% endblock %}
{% block body %}
    <div class="course">
        <!-- Section Header -->
        {% include 'Frontend/partials/course/_header.html.twig' %}

        <!-- Section Additional Info -->
        {# {% include 'Frontend/partials/course/_additional_info.html.twig' %} #}

        <!-- Section Course Content -->
        {% include 'Frontend/partials/course/_content.html.twig' %}

        <!-- Admin-only buttons -->
        {% include 'Frontend/partials/course/_admin_actions.html.twig' %}
    </div>
{% endblock %}
