<div class="course__additional-info">
    <h3 class="course__additional-info-title">
        About this course
    </h3>
    {# <p class="course__additional-info-text">{{ course.additional_info }}</p> #}
</div>
